@import url('https://fonts.googleapis.com/css?family=Hind:400,600,700|Nunito+Sans:400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
// Fonts
$body-font: 'Nunito Sans', sans-serif;
$skills-font: 'Ubuntu', sans-serif;
$header-font: 'Hind', sans-serif;

// Colors
$primary-color: #3f88c5;
$error-color: #ce5b57;
$white-color: #fff;
$font-color: #323232;
$background-color: #f4f4f8;
$placeholder-color: #acb1b0;
$background-color-dark: #434343;
$black-color: #adacab;
$success-color: #20bf55;

// CV variables
$cv-background-color: #f8f6f5;
$cv-not-found-color: #c7c7c7;
